.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow-x: hidden;
}

.aboutContainer {
  max-width: 100vw;     
  margin: 0 auto;       
  padding: 0 2rem;     
}

.titleContainer{
    font-size: 1.9rem;
    font-weight: 200;
    margin-bottom: 1rem;
    font-family: "Zalando Sans Expanded", sans-serif;
}

.descriptionContainer{
    font-size: 1rem;
    font-family: "Outfit", sans-serif;
}

.bold{
    font-weight: 800;
}


/* larger phones */
@media screen and (min-width: 576px){

}

/* Tablets / portrait */
@media screen and (min-width: 768px){

    .mainContainer{
        gap: 2rem;
    }

    .titleContainer{
        font-size: 3rem;
        font-weight: 200;
        margin-bottom: 1rem;
        margin-left: 2rem;
    }

    .descriptionContainer{
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

}

/* Small laptops / landscape tablets */
@media screen and (min-width: 992px){
.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.aboutContainer{
    width: 50%;
    margin-left: 1.5rem;
}

.titleContainer{
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 1rem;
}

.descriptionContainer{
    font-size: 1.5rem;
    
}

.bold{
    font-weight: 800;
}

.cardContainer{
    margin-right: 4.5rem;
}
}
/* Desktops */
@media screen and (min-width: 1000px){
    .titleContainer{
        font-size: 3rem;
    }

    .descriptionContainer{
        font-size: 1.5rem;
        
    }
}
/* Large desktops / wide monitors */
@media screen and (min-width: 1400px){

}
