.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    
}

.modal {
    position: relative;
    background-color: transparent;
    border-radius: 8px;
    max-width: 90vw;
    max-height: 90vh;
    overflow: visible;
    padding: 0;
    z-index: 10000;
}

.closeButton {
    position: absolute;
    top: 13px;
    right: 15px;
    background: white;
    border: none;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: transform 0.2s;
    z-index: 10001;
}

.closeButton:hover {
    transform: scale(1.1);
}

.navButton {
    position: absolute;
    left: -80px;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(221, 221, 221);
    border: none;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
    z-index: 10001;
}

.navButtonRight {
    position: absolute;
    right: -80px;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
    z-index: 10001;
}

.navButton:hover,
.navButtonRight:hover {
    transform: translateY(-50%) scale(1.1);
}

.content {
    margin-top: 0;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.content img {
    max-width: 80vw;
    max-height: 80vh;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

.indicatorContainer {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 10002;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transition: all 300ms ease;
}

.indicator.active {
    background-color: rgb(255, 255, 255);
}