.mainContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
}

.logoContainer{
    display: flex;
    width: 3rem;
    height: 3rem;
    position: fixed;
    top: 2rem;
    left: 3rem;
}

.sectionsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    width: 100vw;
    justify-content: center;
    font-size: 1.2rem;
    margin-top: 2rem;
    display: none;
}

.dropDownContent{
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 5%;
}

.dropDownContentContainer{
    position: fixed;
    top: 8%;
    right: 5%;
    font-size: 1rem;
}


.sections:hover{
    font-size: 1.5rem;
    transition: font-size 0.2s ease-in-out;
    font-weight: bold;
}

.navDropDown{
    position: fixed;
    border: none;
    top: 2rem;
    right: 2rem;
}

.active {
    position: relative;
    display: inline-block;
}

.active::before {
    content: '';
    position: absolute;
    left: -0.3rem;
    right: -0.3rem;
    top: 50%;
    height: 60%;
    background: linear-gradient(
        105deg,
        rgba(98, 117, 132, 0.4) 0%,
        rgba(98, 117, 132, 0.5) 30%,
        rgba(98, 117, 132, 0.6) 50%,
        rgba(98, 117, 132, 0.5) 70%,
        rgba(98, 117, 132, 0.35) 100%
    );
    transform: translateY(-50%) skewX(-5deg) rotate(-2.5deg);
    z-index: -1;
    border-radius: 3px;
    box-shadow: 
        0 0 3px rgba(98, 117, 132, 0.3),
        inset 0 1px 2px rgba(255, 255, 255, 0.2);
    animation: highlightDraw 0.6s ease-out forwards;
    transform-origin: left center;
}

@keyframes highlightDraw {
    0% {
        transform: translateY(-50%) skewX(-5deg) rotate(-2.5deg) scaleX(0);
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        transform: translateY(-50%) skewX(-5deg) rotate(-2.5deg) scaleX(1);
        opacity: 1;
    }
}

.active::after {
    content: '';
    position: absolute;
    left: -0.3rem;
    right: -0.3rem;
    top: 50%;
    height: 60%;
    background-image: 
        repeating-linear-gradient(
            90deg,
            transparent,
            transparent 2px,
            rgba(255, 255, 255, 0.05) 2px,
            rgba(255, 255, 255, 0.05) 4px
        );
    transform: translateY(-50%) skewX(-5deg) rotate(-2.5deg);
    z-index: -1;
    pointer-events: none;
    animation: highlightDraw 0.6s ease-out forwards;
    transform-origin: left center;
}
.mainContainer {
    cursor: none;
}

.customCursor {
    position: fixed;
    pointer-events: none;
    font-size: 2rem;
    color: #353f47;
    transform: translate(-50%, -100%) rotate(1deg);
    transition: opacity 0.15s ease;
}


/* larger phones */
@media screen and (min-width: 576px){

}

/* Tablets / portrait */
@media screen and (min-width: 768px){

}

/* Small laptops / landscape tablets */
@media screen and (min-width: 992px){
    .sectionsContainer{
        display: flex;
    }
}
/* Desktops */
@media screen and (min-width: 1200px){

}
/* Large desktops / wide monitors */
@media screen and (min-width: 1400px){

}



