.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.imgAndIconSectionContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-left: 1.5rem; */
}

.headerTitle{
    margin-bottom: 2rem;
    /* margin-left: 1.5rem; */
}

.imgAndIconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.headerTitle{
    font-size: 2rem;
}

.imgContainer{
    width: 80px;  
    height: 80px;
    position: relative;
}

.img{
    height: 100%;
    width: 100%;
}

.icon{
    position: absolute;
}

.footer{
    background-color: #cacaf4;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    height: 7rem;
    margin-top: 5rem;
}

.text{
    margin-top: 1rem;
    margin-left: 1rem;
}