.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
    
.imgAndIconSectionContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
}

.headerTitle{
    margin-bottom: 2rem;
    font-size: 2rem;
    /* font-family: "Lexend", sans-serif; */
    font-family: "Mansalva", sans-serif;
}

.imgAndIconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.imgContainer{
    width: 80px;  
    height: 80px;
    position: relative;
}

.img{
    height: 100%;
    width: 100%;
}

.icon{
    position: absolute;
}

.footer{
    background-color: #366286;
    color: rgb(255, 255, 255);
    font-size: 0.7rem;
    width: 100%;
    height: 7rem;
    margin-top: 5rem;
    font-family: "Hubballi", sans-serif;
}

.text{
    margin-top: 1rem;
    margin-left: 1rem;
}

/* larger phones */
@media screen and (min-width: 576px){

}

/* Tablets / portrait */
@media screen and (min-width: 768px){
    .footer{
        font-size: 1.2rem;
    }
}

/* Small laptops / landscape tablets */
@media screen and (min-width: 992px){
    .footer{
        font-size: 1.2rem;
    }
}
/* Desktops */
@media screen and (min-width: 1200px){

}
/* Large desktops / wide monitors */
@media screen and (min-width: 1400px){

}