.mainContainer{
    overflow: hidden;
    position: relative;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
}

.buttonContainer{
    position: absolute;
    display: flex;
    align-items: center;
    inset: 0;
    justify-content: space-between;
    pointer-events: none;
    z-index: 2;
}

.button{
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 50%;
    background: rgb(221, 221, 221);
    padding: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    transition: transform 0.2s;
}

.button:hover{
    transform: scale(1.1);
}

.slides{
    display: flex;
    transition: transform 500ms ease-out;
}

.slideItem {
    min-width: 100%;
    cursor: pointer;
    z-index: 1;
}

.indicatorContainer {
    position: relative;
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 10px;
    padding: 5px 0;
}

.indicator {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    transition: all 300ms ease;
}

.indicator.active {
    background-color: rgb(0, 0, 0);
}