.page {
    background-color: #F2EFF2; 
    border-radius: 1% 3% 3% 1%;
    box-shadow: 5px 5px 10px gray;
    display: flex;
    flex-direction: column; 
    text-align: center;
    position: relative;

    background-image: repeating-linear-gradient(
        to bottom,
        #c0c0c0,      
        #c0c0c0 1px,  
        transparent 1px,
        transparent 2.5rem

    );
}

.backPage{
    background-color: #F2EFF2; 
    border-radius: 1% 3% 3% 1%;
    box-shadow: 5px 5px 10px gray;
    text-align: center;
}


.img{
    width: 100%;
    height: 100%;
    border-radius: 3%;
}

.pageTitle{ 
    position: absolute;
    top: 80px;
    font-size: 1rem;
    left: 20px;
    right: 20px;
    text-align: center;
}

.imgContainer{
    width: 85%;
    height: 30%;
    position: absolute;
    top: 140px;
    left: 20px;
    pointer-events: auto;
}

ul{
    position: absolute;
    margin-right: 30px; 
    top: 10px;
    font-size: 0.7rem;
}

li{
    text-align: start;
    margin-bottom: 10px;
}

.scotchTape1{
    position: absolute;
    right: -20px;
    top: -10px;
    width: 20%;
    height: 20%;
    transform: rotate(20deg);
    z-index: 1;
}

.scotchTape2{
    position: absolute;
    left: -20px;
    bottom: 5px;
    width: 30%;
    height: 25%;
    transform: rotate(50deg);
    z-index: 1;
}

.scotchTape3{
    position: absolute;
    left: -15px;
    top: -10px;
    width: 20%;
    height: 30%;
    transform: rotate(-20deg);
    z-index: 1;
}

.scotchTape4{
    position: absolute;
    right: -20px;
    bottom: 0px;
    width: 20%;
    height: 25%;
    transform: rotate(-50deg);
    z-index: 1;
}


.cover{
    background-color: #6B7F95;
    color: rgb(245, 239, 239);
    border-radius: 1% 3% 3% 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px 10px gray;
}

.coverTitle{
    font-size: 2.5rem;
    position: absolute;
    top: 40px;
    left: 60px;
}

.projectsTitle {
    font-size: 3rem;
    position: absolute;
    top: 55px;
    left: 50px;
    transform: rotate(-3deg);
    background: linear-gradient(
        to bottom,
        transparent 60%,
        #FFE66D 60%,
        #FFE66D 85%,
        transparent 85%
    );
    display: inline-block;
    padding: 0 10px;
}

.projectsText {
    font-size: 0.9rem;
    position: absolute;
    top: 140px;
    left: 22px;
}

.stickyNotes{
    position: absolute;
    top: 250px;
    left: 40px;
    width: 70%;
    height: 45%;
}

.stickyNotesText{
    font-size: 0.8rem;
    transform: rotate(2deg);
    position: absolute;
    top: 320px;
    left: 100px;
}

.pageContent {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

/* larger phones */
@media screen and (min-width: 576px){

}

/* Tablets / portrait */
@media screen and (min-width: 768px){

}

/* Small laptops / landscape tablets */
@media screen and (min-width: 992px){
    .coverTitle{
        font-size: 4rem;
        left: 100px;
    }

    .projectsTitle {
        font-size: 4rem;
        top: 40px;
        left: 120px;
    }

    .projectsText {
        font-size: 1rem;
        top: 140px;
        left: 100px;
    }

    .pageTitle{
        top: 120px;
        font-size: 1.5rem;
        left: 30px;
        right: 30px;
    }

    .imgContainer{ 
        top: 210px; 
        left: 30px;
    }

    .scotchTape1{
        right: -30px;
        width: 30%;
    }

    .scotchTape2{
        left: -50px;
        bottom: -20px;
    }

    
    .scotchTape3{
        left: -35px;
    }

    .scotchTape4{
        right: -50px;
        bottom: -20px;
        width: 30%;
    }

    ul{
        top: 80px;
        font-size: 1rem;
    }

    .stickyNotes{
        left: 70px;
        height: 50%;
    }

    .stickyNotesText{
        font-size: 1.4rem;
        top: 350px;
        left: 160px;
    }

}
/* Desktops */
@media screen and (min-width: 1200px){

}
/* Large desktops / wide monitors */
@media screen and (min-width: 1400px){

}