.mainContainer{
    position: relative;
    width: 20rem; 
    height: 9.625rem;
    border-radius: 5%;
}

.card{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s cubic-bezier(0.4, 0.2, 0.2, 1);
    background-color: yellow;
    border-radius: 5%;
}

.frontCard{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: violet;
    border-radius: 5%;
    font-size: 4rem;
    overflow: hidden;
    box-shadow: 5px 5px 10px gray
}

.backCard{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: red;
    border-radius: 5%;
    transform: rotateY(180deg);
    font-size: 4rem;
    overflow: hidden;
    box-shadow: 5px 5px 10px gray
}

.card:hover{
    transform: rotateY(180deg);
}

.frontCardPicture, .backCardPicture{
    border-radius: 5%;
}

/* larger phones */
@media screen and (min-width: 536px){

.mainContainer{
    position: relative;
    width: 28.125rem; 
    height: 15.625rem;
    border-radius: 5%;
}
}

/* Tablets / portrait */
@media screen and (min-width: 768px){

}

/* Small laptops / landscape tablets */
@media screen and (min-width: 992px){

.mainContainer{
    position: relative;
    width: 28.125rem; 
    height: 15.625rem;
    border-radius: 5%;
}

}
/* Desktops */
@media screen and (min-width: 1200px){

}
/* Large desktops / wide monitors */
@media screen and (min-width: 1400px){

}

